<div class="app-body">
	<div class="sidebar">
		<nav class="sidebar-nav">
			<ul class="nav">
				<!--메뉴타이틀 -->
				<li class="nav-item nav-dropdown open" style="cursor: pointer;"><a
						class="nav-link nav-dropdown-toggle"><i class="nav-icon icon-note"></i> 회원관리</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_user/page?page=1">
								<i class="nav-icon icon-arrow-right"></i> 회원정보</a>
						</li>
					</ul>
				</li>
				<li class="nav-item nav-dropdown open" style="cursor: pointer;"><a
						class="nav-link nav-dropdown-toggle"><i class="nav-icon icon-note"></i> 게시판관리</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_board/all?boardId=1&page=1">
								<i class="nav-icon icon-arrow-right"></i> 공지사항</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_board/all?boardId=3&page=1">
								<i class="nav-icon icon-arrow-right"></i> 레시피</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_board/all?boardId=4&page=1">
								<i class="nav-icon icon-arrow-right"></i> 제로웨이스트</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_board/all?boardId=5&page=1">
								<i class="nav-icon icon-arrow-right"></i> 자료실</a>
						</li>
					</ul>
				</li>
				<li class="nav-item nav-dropdown open" style="cursor: pointer;"><a
						class="nav-link nav-dropdown-toggle"><i class="nav-icon icon-note"></i> 탄소실천관리</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_certification/certiAll?certiDivision=0&page=1">
								<i class="nav-icon icon-arrow-right"></i> 종류관리</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_certiContent/certiContentAll?certiDivision=0&page=1">
								<i class="nav-icon icon-arrow-right"></i> 글관리</a>
						</li>
					</ul>
				</li>
				<li class="nav-item nav-dropdown open" style="cursor: pointer;"><a
						class="nav-link nav-dropdown-toggle"><i class="nav-icon icon-note"></i> 챌린지관리</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_certification/certiAll?certiDivision=1&page=1">
								<i class="nav-icon icon-arrow-right"></i> 종류관리</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_certiContent/certiContentAll?certiDivision=1&page=1">
								<i class="nav-icon icon-arrow-right"></i> 글관리</a>
						</li>
					</ul>
				</li>
				<li class="nav-item nav-dropdown open" style="cursor: pointer;">
					<a class="nav-link nav-dropdown-toggle">
						<i class="nav-icon icon-note"></i> 배너관리</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_banner/banner?bannerDiv=0">
								<i class="nav-icon icon-arrow-right"></i> 팝업배너</a>
						</li>
					</ul>
				</li>
				<li class="nav-item nav-dropdown open" style="cursor: pointer;">
					<a class="nav-link nav-dropdown-toggle">
						<i class="nav-icon icon-earphones-alt "></i> 고객센터</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_company/join">
								<i class="nav-icon icon-arrow-right"></i> 고객문의</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- <button class="sidebar-minimizer brand-minimizer" type="button"></button> -->
	</div>