<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/basic.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/layout.css" />
	<!--<link href="/js/jquery/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
	<script type="text/javascript" src="/stylesheets/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.form.js"></script>
	<script src="/stylesheets/js/common.js"></script>
</head>

<style>
	input {
		border: 1px solid grey
	}
</style>

<body style="background: #fff;">
	<div class="popup">
		<h2><span class="float_l">배너 등록</h2>
		<div class="content">
			<form action="" id="bannerWritForm" method="" enctype="multipart/form-data">
				<table>
					<colgroup>
						<col width="20%" />
						<col width="80%" />
					</colgroup>
					<tr>
						<th>이미지</th>
						<td name="file_name" colspan="3">
							<li><input type="file" id="file" name="file" /></li>
						</td>
					</tr>
					<tr>
						<th>위치</th>
						<td>
							<label><input type="radio" id="banner1" name="bannerDiv" value="0" checked>팝업 배너</label>
							<label><input type="radio" id="banner2" name="bannerDiv" value="1">슬라이드 배너</label>
						</td>
					</tr>
					<tr>
						<th>시작 날짜</th>
						<td>
							<input type="date" id="startDate" name="startDate" value="">
						</td>
					</tr>
					<tr>
						<th>종료 날짜</th>
						<td>
							<input type="date" id="endDate" name="endDate" value="">
						</td>
					</tr>
					<tr>
						<th>노출 여부</th>
						<td>
							<label><input type="radio" id="showYN1" name="showYN" value="0" checked>노출</label>
							<label><input type="radio" id="showYN2" name="showYN" value="1">비노출</label>
						</td>
					</tr>
					<tr>
						<th>순서</th>
						<td>
							<input type="number" id="showNo" name="showNo" value="">
						</td>
					</tr>
				</table>
			</form>
			<p class="btn">
				<button onclick="certiUpdate()">등록</button>
				<button onclick="window.close();">취소</button>
			</p>
		</div>
	</div>

	<script>
		function certiUpdate() {
			if (confirm("등록하시겠습니까?") == true) {
				$("#bannerWritForm").attr("action", "bannerWrit");
				$("#bannerWritForm").attr("method", "post");
				$("#bannerWritForm").submit();
				alert("등록이 완료되었습니다.");
			} else {
				return;
			}
		};
	</script>