<style>
	.navbar-toggler-icon {
		display: none;
	}

	.button:not(:disabled),
	[type="button"]:not(:disabled),
	[type="reset"]:not(:disabled) {
		pointer-events: none;
	}
	.cmtFrm .cmtInfo img {
    width: 25px;
    height: 30px;
	}
	.cmtFrm .cmtInfo {
		font-size: 25px;
		font-family: Apple SD Gothic Neo;
		font-weight: bold ;
		color: black;
	}

</style>

<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item">
			<a style="font-weight: bold;">투표현황</a>
		</li>
		<%if(choose == 0){%>
		<li class="breadcrumb-item active">참여자 명단</li>
		<% } else if(choose == 1) { %>
		<li class="breadcrumb-item active">불참자 명단</li>
		<% } else { %>
		<li class="breadcrumb-item active">미정자 명단</li>
		<% } %>

	</ol>

	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<%if(results.length > 0){%>
						<div class="card-header">
							<i class="fa fa-align-justify"></i> 총 <%= results.length %>명
						</div>
						<div class="card-body">
							<!-- 컨텐츠 -->
							<form action="" id="commentForm" method="get" class="cmtFrm">
								<% for(var i = 0; i < results.length; i++) {%>
								<div class="form-group row">
									<div class="cmtInfo-wrap">
										<div class="cmtInfo">
											<img src="../../../public/images/icon_admin.gif">
											<span><%= results[i].userName %></span>
										</div>
									</div>
								</div>
								<% } %>
							</form>
						</div>
						<% } else if(noChoose.length > 0) { %>
							<div class="card-header">
								<i class="fa fa-align-justify"></i> 총 <%= noChoose.length %>명
							</div>
							<div class="card-body">
								<!-- 컨텐츠 -->
								<form action="" id="commentForm" method="get" class="cmtFrm">
									<div class="form-group row col-sm-12">
									<% for(var i = 0; i < noChoose.length; i++) {%>
										<div class="cmtInfo-wrap col-sm-4" style="margin-bottom: 30px;">
											<div class="cmtInfo">
												<img src="../../../public/images/icon_admin.gif">
												<span>&nbsp;<%= noChoose[i].userName %></span>
											</div>
										</div>
										<% } %>
									</div>
								</form>
							</div>
						<% } else { %>
						<div class="card-header">
							<i class="fa fa-align-justify"></i> 총 0명
						</div>
						<div class="card-body">
							<!-- 컨텐츠 -->
							<div class="form-group row">
								<div class="col-md-3">
									<label class="col-md-2 col-form-label" for="text-input">투표 참여자가 존재하지 않습니다.</label>
								</div>
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
</main>
<script>
	// 삭제
	$("#delete_btn").on("click", function () {
		$('input[name=cmtId]').val($(this).attr('data-cmtId'));
		$("#commentForm").attr("action", "cmtDelete");
		$("#commentForm").attr("method", "get");
		if (confirm("댓글을 삭제하시겠습니까?") == true) {
			$("#commentForm").submit();
		} else {
			return;
		}
	});
</script>