<main class="main">
   <!-- Breadcrumb-->
   <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item">
         <a style="font-weight: bold;">회원관리</a>
      </li>
      <li class="breadcrumb-item active">회원정보</li>
      <!-- Breadcrumb Menu-->
   </ol>

   <div class="container-fluid">
      <div class="animated fadeIn">
         <div class="row">
            <div class="col-lg-6">
               <div class="card">
                  <div class="card-header">
                     <i class="fa fa-align-justify"></i> 회원정보 상세</div>
                  <form action="" id="userEnrollForm" method="post" enctype="multipart/form-data">
                     <div class="card-body">
                        <!-- 컨텐츠 -->
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">프로필사진</label>
                           <div class="col-md-9">
                              <input type="file" id="file" name="file" />
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input" style="color: crimson;">이메일</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userEmail" type="text" name="userEmail" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input" style="color: crimson;">닉네임</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userNick" type="text" name="userNick" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input" style="color: crimson;">패스워드</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userPwd" type="text" name="userPwd" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">나이</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userAge" type="number" name="userAge" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">주소</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userAdres1" type="text" name="userAdres1"
                                 placeholder="시 / 도 (ex.대구광역시)">
                           </div>
                           <label class="col-md-2 col-form-label" for="text-input"></label>
                           <div class="col-md-9">
                              <input class="form-control" id="userAdres2" type="text" name="userAdres2"
                                 placeholder="시 / 군 / 구 (ex.달서구)">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">학교</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userSchool" type="text" name="userSchool" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">포인트</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userPoint" type="text" name="userPoint" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">계산점수</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userScore" type="text" name="userScore" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">권한</label>
                           <div class="col-md-9">
                              <select class="dropdown" name="userAuth">
                                 <option value="0">일반회원</option>
                                 <option value="1">기업</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">상태</label>
                           <div class="col-md-9">
                              <select class="dropdown" name="userStatus">
                                 <option value="0">활동중</option>
                                 <option value="1">탈퇴</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">개인정보 동의여부</label>
                           <div class="col-md-9">
                              <select class="dropdown" name="userAgree">
                                 <option value="0">동의</option>
                                 <option value="1">비동의</option>
                              </select>
                           </div>
                        </div>
                        <!--option 버튼  -->
                        <div class="option_button">
                           <div>
                              <button class="btn btn-block btn-outline-success" type="button" id="update_btn"
                                 onclick="userUpdate()">등록</button>
                           </div>
                           <div>
                              <button class="btn btn-block btn-outline-danger" type="button"
                                 onclick="location.href='/admin/m_user/page?page=1'" style="margin-bottom: 10px;">취소</button>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

<script type="text/javascript">
   function file_del(route) {
      if (confirm("실제 파일이 삭제됩니다 \n정말 삭제하시겠습니까?")) {
         $("#boardWrit").attr("action", "imgDelete");
         $("#boardWrit").attr("method", "get");
         $("#boardWrit").submit();
      }
   }

   $("#update_btn").click(function () {
      var userNick = $("#userNick").val();
      var userEmail = $("#userEmail").val();
      var userPwd = $("#userPwd").val();
      
      if (userEmail == '') {
         alert("이메일을 입력해주세요.");
         $("#userEmail").focus();
         return false;
      }

      if (userNick == '') {
      alert("닉네임을 입력해주세요.");
      $("#userNick").focus();
      return false;
      }

      if (userPwd == '') {
         alert("패스워드를 입력해주세요.");
         $("#userPwd").focus();
         return false;
      }

      if (confirm("등록하시겠습니까?") == true) {
         $("#userEnrollForm").attr("action", "userInsert");
         $("#userEnrollForm").submit();
      } else {
         return;
      }
   });
</script>