
<div class="container">
<!-- <% for(var i = 0; i < result.length; i++) {%>
        <p>
            <h1><%= result[i] %></h1>
        </p>
    <% } %>
    grrfgrf -->
    my name is <%= data.name %>
</div>