<script type="text/javascript">
	$(document).ready(function(){
	});
</script>
	<h2><span class="float_l">회원관리</span><img onclick="window.close();" src="../../../images/admin/btn_close.gif" alt="" class="float_r hand" /></h2>
 	<div class="content"> 
		<table class="mb_10">
			<tr>
				
				
				<td colspan="4">
					<dl>
						<dt>
						
						</dt>
						<dd>
						</dd>
					</dl>
				</td>
			</tr>
		</table>

		<table> 

			<tr>
				<th>일련번호</th>
				<td>
					<%if(result[0].uid !=null && result[0].uid!='null' && result[0].uid!=''){%>
						<%=result[0].uid%>
					<%}%>
				</td>
			</tr>
			
			

		</table>

		<p class="btn">

				<button class="btn_big_blue hand">수정</button>				

			<button class="btn_big_black hand" onclick="window.close();">취소</button>
		</p>
	</div>