<style>
    /* div.dataTables_wrapper div.dataTables_filter label {
        display: block !important;
    } */

    .userTable thead tr .sorting:first-child::before,
    .userTable thead tr .sorting_asc:first-child::before,
    .userTable thead tr .sorting_asc:first-child::after,
    .userTable thead .sorting_desc:first-child:after,
    .userTable thead .sorting:first-child:after,
    .userTable thead .sorting:first-child {
        content: none !important;
        cursor: unset
        
    }

</style>
<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a style="font-weight: bold;">후원</a>
        </li>
        <li class="breadcrumb-item active">후원목록</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> 후원목록 </div>
                        <div class="card-body">
                            <form id="supportForm" name="supportForm" method="" action="">
                                <input type="hidden" name="supportId" value="" />
                                <table id="exampleTable" class="table userTable table-responsive-sm table-hover">
                                    <colgroup>
                                        <col width="20%" />
                                        <col width="40%" />
                                        <col width="40%" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>업체명</th>
                                            <th>사이트</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < support.length; i++){ %> <tr class="pointer"
                                            onclick="location.href='/admin/m_support/supportSelectOne?supportId=<%=support[i].supportId%>'">
                                <td><%= i + 1 %></td>
                                <td><%=support[i].supportTitle %></td>
                                <td><%=support[i].supportUrl %></td>
                                </tr>
                                <% } %>
                                <%if(support.length == 0){%>
                                <tr>
                                    <td colspan="4">
                                        등록된 목록이 없습니다.
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                    </form>
                        <div class="mt_20">
                            <p class="float_r">
                                <input id="enrollAction" class="btn btn-block btn-outline-success" type="button" onclick="enroll()"
                                            value="등록" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<script>
    // 삭제
    const formObj = $("form[name='supportForm']");

    function enroll() {
        formObj.attr("action", "/admin/m_support/supportWritForm");
        formObj.attr("method", "get");
        formObj.submit();
    }
</script>