<link rel="stylesheet" type="text/css" href="/stylesheets/scssTocss/nav.css"/>
		<div id="head" style="overflow: hidden;">
			<p>
				<span class="float_l"><a href="/admin/m_user">ECOCE</a></span>
				<span class="float_r">관리자님 환영합니다.
				<button class="btn_small_red hand" onclick="window.location.href='/admin/web/logout'">로그아웃</button>
				<!-- <button class="btn_small_blue hand" onclick="winOpen();">모바일전자수첩</button> -->
				</span>
			</p>
		</div>


		<div id="project-wrapper">
			<div id="project-container">
				<nav>
				<p>About</p>
				<p id="services" class="services">Services <i class="fa fa-caret-down" aria-hidden="true"></i></p>
				<div id="s-d" class="dropdown">
					<p>Branding</p>
					<p>User Experience</p>
					<p>Web Development</p>
					<p>User Research</p>
					<p>Support</p>
				</div>
				<p>Pricing</p>
				<p>Learn More</p>
				<p>Contact</p>
				</nav>
			</div>
			</div>
		</div>
