<div class="certiContentAll-wrap">
    <ul class="certiContentAll">
        <li class="certiContentEach">
            <img src="../../../public/images/certification/bycicle1643955878944.png" alt="">
            <button type="button">글상세</button>
            <button type="button">댓글</button>
        </li>
        <li class="certiContentEach">
            <img src="../../../public/images/certification/bycicle1643955878944.png" alt="">
            <button type="button">글상세</button>
            <button type="button">댓글</button>
        </li>
        <li class="certiContentEach">
            <img src="../../../public/images/certification/bycicle1643955878944.png" alt="">
            <button type="button">글상세</button>
            <button type="button">댓글</button>
        </li>
        <li class="certiContentEach">
            <img src="../../../public/images/certification/bycicle1643955878944.png" alt="">
            <button type="button">글상세</button>
            <button type="button">댓글</button>
        </li>
        <li class="certiContentEach">
            <img src="../../../public/images/certification/bycicle1643955878944.png" alt="">
            <button type="button">글상세</button>
            <button type="button">댓글</button>
        </li>
        <li class="certiContentEach">
            <img src="../../../public/images/certification/bycicle1643955878944.png" alt="">
            <button type="button">글상세</button>
            <button type="button">댓글</button>
        </li>
        <li class="certiContentEach">
            <img src="../../../public/images/certification/bycicle1643955878944.png" alt="">
            <button type="button">글상세</button>
            <button type="button">댓글</button>
        </li>
    </ul>
</div>