<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/basic.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/layout.css" />
	<!--<link href="/js/jquery/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
	<script type="text/javascript" src="/stylesheets/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.form.js"></script>
	<script src="/stylesheets/js/common.js"></script>
</head>

<style>
	input {
		border: 1px solid grey
	}
</style>

<body style="background: #fff;">
	<div class="popup">
		<h2><span class="float_l">탄소실천 종류 등록</h2>
		<div class="content">
			<form action="" id="certiUpdate" method="" enctype="multipart/form-data">
				<table>
					<colgroup>
						<col width="20%" />
						<col width="80%" />
					</colgroup>
					<tr>
						<th>이미지</th>
						<td name="file_name" colspan="3">
							<li><input type="file" id="file" name="file" /></li>
						</td>
					</tr>
					<tr>
						<th>종류명</th>
						<td>
							<input type="text" id="certiTitle" name="certiTitle" value="">
						</td>
					</tr>
					<tr>
						<th>설명글</th>
						<td>
							<textarea id="content" style="height: 145px; width: 479px;"></textarea>
						</td>
					</tr>
					<tr>
						<th>포인트</th>
						<td>
							<input type="text" id="certiPoint" name="certiPoint" value="">
						</td>
					</tr>
					<% if(division == 0) {%>
					<tr>
						<th>단계</th>
						<td>
							<input type="text" id="certiDiff" name="certiDiff" value="">
						</td>
					</tr>
					<% }else{ %>
					<tr>
						<th>권한</th>
						<td>
							<input type="text" id="certiAuth" name="certiAuth" value="">
						</td>
					</tr>
					<% } %>
					<tr>
						<th>노출여부</th>
						<td>
							<label><input type="radio" id="certiShow1" name="certiShow" value="0" checked>노출</label>&nbsp;&nbsp;
							<label><input type="radio" id="certiShow2" name="certiShow" value="1">비노출</label>
						</td>
					</tr>
				</table>
				<input type="hidden" name="certiDivision" value="0">
				<input type="hidden" id="certiDetail" name="certiDetail" value="">
			</form>
			<p class="btn">
				<button onclick="certiUpdate()">등록</button>
				<button onclick="window.close();">취소</button>
			</p>
		</div>
	</div>

	<script>
		function certiUpdate() {
			if (confirm("등록하시겠습니까?") == true) {
				const content = $("#content").val();
				// console.log(content);
				$("#certiDetail").attr("value", content);
				$("#certiUpdate").attr("action", "certiWrit");
				$("#certiUpdate").attr("method", "post");
				$("#certiUpdate").submit();
				alert("등록이 완료되었습니다.");
			} else {
				return;
			}
		};
	</script>